.ebt-block-tiles.ebt-tiles-three_columns .ebt-tiles-wrapper {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr;
}
@media (min-width: 720px) {
  .ebt-block-tiles.ebt-tiles-three_columns .ebt-tiles-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}