/* 
 * Custom CSS for Rogan theme
 * Creator: Symphony Themes
 */
.row:before, .row:after { display: block; }
p {
  padding-bottom: 20px;
}
blockquote {
    border-left: none;
}
.btn {
  font-size: 17px;
}
.page-header {
    border-bottom: none;
}
article.no-bg-image .blog-details-fg .blog-fg-data {
  margin-top: 0;
  padding-top: 250px;
}
.field--name-user-picture {
    width: 60px;
}

.agn-home-blog .blog-one-slider .slick-slide,
.team-classic .slick-slide {
  margin-right: 30px;
}

.project-details .field--name-field-images {
    padding: 40px 0;
}
.solid-inner-banner {
  padding: 170px 0 0;
}
/* Main menu */
button.expander {
  float: right;
  font-size: 10px;
}
.navbar .navbar-toggler i.flaticon-setup {
  padding: 10px;
}
@media (max-width: 767px) {
  .navbar-nav { margin: 7.5px 0;}
  article.no-bg-image .blog-details-fg .blog-fg-data {
    padding-top: 150px;
  }
  .header-right-widget { display: none; }
}
/* Footer */
footer.theme-footer-one {
  border-top: 1px solid #ededed;
  padding-top: 95px;
}

/* Testimonial */
.node--type-testimonial .field--name-field-image,
.node--type-team-member .field--name-field-image {
    float: left;
    margin-right: 20px;
}
.trusted-partner .slick-slide {
  padding: 0 20px;
}
.trusted-partner .slick-slide img {
  opacity: 0.5;
  height: 43px;
  width: auto;
}
.trusted-partner .slick-slide.slick-current img {
  opacity: 1;
} 
.trusted-partner-standard {
  background: #f8faff;
  margin-bottom: 0;
  padding-bottom: 130px;
}

/* Custom styles */
.color-white { color: white; }
.color-black { color: black; }
.color-red { color: red; }
.color-ogrange { color: orange; }
.color-green { color: green; }
.color-blue { color: blue; }
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

/* Slick arrow */
.slick-arrow {
    position: relative;
    height: 0px;
    width: 0;
    display: inline;
    padding: 25px;
}
.slick-arrow:after {
    position: absolute;
    top: 30px;
    left: 0;    
    font-family: Flaticon;
    font-size: 30px;
    width: 30px;
    height: 10px;
    color: rgba(0,0,0,0.4);
}
.slick-prev:after {
    content: "\f105";
}
.slick-next:after {
    content: "\f103";
}

/* Nav Tab */
.user-logged-in nav.tabs {
  position: fixed;
  left: 0;
  top: 80px;
  transition: all 0.5s ease 0.25s;
  z-index: 1000;
} 
.user-logged-in nav.tabs ul.tabs--primary {
  background: #fff none repeat scroll 0 0;
  border: medium none;
  list-style: outside none none;
  opacity: 0.9;
  flex-direction: column;
}
.user-logged-in nav.tabs ul.tabs--primary li {
  float: none;
  opacity: 0.8;
}
.user-logged-in nav.tabs ul.tabs--primary li a {
  margin-right: 0;
  color: #222;
  padding: 10px;
  width: 100%;
}
.user-logged-in nav.tabs ul.tabs--primary li.active a, 
.user-logged-in nav.tabs ul.tabs--primary li:hover a {
  background: #ffb500 none repeat scroll 0 0;
  border: none;
  border-radius: 0;
  color: #fff;
}
.user-logged-in nav.tabs ul.tabs--primary li.active, 
.user-logged-in nav.tabs ul.tabs--primary li:hover {
  opacity: 1;
}

/* Backgrounds */
.bg-blue1 {
  background: #7d4afe;
}
.bg-blue2 {
  background: #676dff;
}
.bg-blue3 {
  background: #549cff;
}
.bg-blue4 {
  background: #04cce8;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
/*----------------------- Main Menu ---------------------*/
.theme-main-menu { padding: 0; }
.theme-menu-one.fixed, 
.theme-menu-two.fixed {
  padding: 0;
}
.theme-menu-one .logo {
  width: auto;
  padding: 0;
}
.theme-menu-one.fixed .logo, 
.theme-menu-three.fixed .logo {
  padding: 0;
}
.theme-menu-one.fixed .navbar {
  padding: 25px 0 5px 100px;
}
.theme-menu-one .navbar-default { 
  display: flex; 
  justify-content: space-between;
}
.theme-menu-one .navbar-default .header-right-widget {
  position: relative;
  top: 36px;
}
.theme-menu-one.fixed .navbar-default .header-right-widget {
  top: 7px;
}
@media screen and (min-width: 1200px) {
  .navbar {
    padding: 55px 0 0 100px;
  }
}
@media screen and (max-width: 768px) {
  .theme-menu-one.fixed .navbar {
    padding: 12px 0 4px;
  }
  .theme-menu-one.fixed .navbar-nav .nav-item .nav-link, 
  .theme-menu-two.fixed .navbar-nav .nav-item .nav-link {
    padding: 15px 0;
  }
  .theme-menu-one .navbar-default { display: block; }
}

/*----------------------- Our Service Creative ---------------------*/
.our-service.our-history .img-box {
  position: relative;
  overflow: hidden;
  padding-bottom: 180px;
}
.our-service.our-history .img-box .bottom-img {
  position: absolute;
  right: -65px;
  bottom:0;
  border:30px solid #fff;
}
.our-service.our-history .text-wrapper {padding: 80px 0 0 180px;}
.our-service.our-history .text-wrapper p {
  color: #67707e;
  font-size: 20px;
  line-height: 35px;
  padding-top: 30px;
}
.our-service.service-block .service-title a {
  color: #3e3e3e;
}
.our-service.service-block .read-more {
  font-size: 38px;
  line-height: 20px;
}
.service-creative.service-block {padding: 110px 0 125px;}
.service-creative.service-block .img-box {margin-top: 30px;}
.service-creative.service-block .service-info .num {
  font-size: 80px;
  color: rgba(255,255,255,0.1);
  line-height: 70px;
  margin-bottom: 30px;
}
.service-creative.service-block .service-info .service-title a {color: #fff;}
.service-creative.service-block .service-info p {
  font-size: 18px;
  color: rgba(255,255,255,0.8);
  padding: 22px 0 40px;
}
.service-creative.service-block .service-info .read-more {color: #fff;}
.service-creative.service-block:nth-child(even) .service-info {padding-left: 60px;}
.service-creative.service-block:nth-child(odd) .service-info {padding-right: 60px;}

/*------------------------ Our Service modern -------------------*/
.service-modern.service-block {
    padding-bottom: 150px;
}
.service-modern.service-block .img-box img {border-radius: 5px;}
.service-modern.service-block .service-info .tag {
  display: inline-block;
  line-height: 40px;
  font-size: 15px;
  padding: 0 35px;
  border-radius: 3px;
}
.service-modern.service-block .service-info .tag.color-one {background: #ffeaee;color: #ff8aa0;}
.service-modern.service-block .service-info .tag.color-two {background: #fef9da;color: #ead24c;}
.service-modern.service-block .service-info .tag.color-three {background: #e7fff5;color: #70e9ae;}
.service-modern.service-block .service-info .tag.color-four {background: #edf9ff;color: #7fd8ff;}

.service-modern.service-block .service-info .read-more {color: #cfd5df;}
.service-modern.service-block .service-info .service-title {margin: 40px 0 45px;}
.service-modern.service-block {padding-bottom: 150px;}
.service-modern.service-block:nth-child(odd) .service-info {padding-right: 30px;}
.service-modern.service-block:nth-child(even) .service-info {padding-left: 30px;}

/*--------------- Contact -----------------*/
.google-map {
  height: 700px;
}
.google-map-two {
  margin: 170px 70px 0;
  height: 625px;
}
#contact-form .form-group input, 
#contact-form .form-group textarea {
  font-size: 120%;
}
.form-style-three .send-button, .form-style-three button.form-submit {
  width: 200px;
}
/*--------------------- Our Feature/APP --------------------------*/
.our-feature-app .single-feature-box:nth-child(1) .feature-img-box:before {
  z-index: -1;
}
.our-feature-app .single-feature-box:last-child {
  padding-bottom: 0;
}
/*--------------- Newsletter Simplenews -----------------*/
.newsletter-section form {
  position: relative;
}
.newsletter-section .simplenews-subscriber-form .field--name-mail label {
  display: none;
}
.newsletter-section .simplenews-subscriber-form .field--name-mail input {
  width: 100%;
  height: 65px;
  border: 1px solid rgba(186,186,186,0.3);
  border-radius: 38px;
  padding: 0 105px 0 40px;
  font-size: 18px;
  color: rgba(62,62,62,0.4);
}
.newsletter-section .simplenews-subscriber-form .form-actions button {
  background: #FF3A46;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  border-radius: 0 38px 38px 0;
  color: #fff;
  font-size: 32px;
  height: 65px;
  padding: 0;
  margin: 0;
  text-indent: 100px;
  overflow: hidden;
}

.newsletter-section .simplenews-subscriber-form .form-actions button:before { 
  font-family: Flaticon;
  font-size: 30px;
  width: 40px;
  height: 20px;
  content: "\f103";
  position: absolute;
  top: 8px;
  left: 35px;
  color: #fff;
  z-index: 10;
  border: none;
  opacity: 1;
  text-indent: 0;
}
.user-logged-in .simplenews-subscriber-form .form-wrapper {
  text-align: center
}
.user-logged-in .simplenews-subscriber-form .form-actions button {
  position: unset;
  border-radius: 0;
  text-indent: 0;
  padding: 10px 30px;
  width: auto;

}
.user-logged-in .simplenews-subscriber-form .form-actions button:before {
  opacity: 0;
}
/*------------------- Contact us -------------------*/
.contact-form .form-group {position: relative;margin-bottom: 22px;}
.contact-form .form-group input,
#contact-form .form-group textarea,
.contact-form .js-form-item input {
  border: 1px solid #ebebeb;
  width: 100%;
  max-width: 100%;
  color: #989ca2;
  background: transparent;
}
.contact-form .form-group input:focus,#contact-form .form-group textarea:focus {border-color: #545454;}
.contact-form .form-group ::placeholder {color: #989ca2;;opacity: 1;}
.contact-form .form-group :-ms-input-placeholder {color: #989ca2;;}
contact-form .form-group ::-ms-input-placeholder {color: #989ca2;;}
.contact-form .form-group input {height: 60px;padding: 0 25px;}
.contact-form .form-group textarea {
  height: 190px;
  max-height: 190px;
  resize:none;
  padding: 20px 25px;
}
.contact-form .form-group .help-block {
  position: absolute;
  left: 0;
  bottom: -12px;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  padding: 0 15px;
  border-radius: 3px;
  box-shadow: 0px 10px 25px 0px rgba(123,147,171,0.15);
}
.contact-form .form-group .help-block li {position: relative;}
.contact-form .form-group .help-block li:before {
  content: '';
  font-family: 'font-awesome';
  position: absolute;
  top:-12px;
  left:0;
}
.contact-form button { margin-top: 35px; }
.contact-form #edit-preview,
.contact-form .form-item-copy { 
  display: none; 
}
.button.form-submit {
  text-transform: capitalize;
  text-align: center;
  font-size: 18px;
  color: #fff;
  border: none;
  line-height: 50px;
  padding: 0 40px;
  position: relative;
  z-index: 1;
}
.button.form-submit:before {
  content: '';
  position: absolute;
  top:4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  border: 1px solid #fff;
  opacity: 0;
}
.button.form-submit:hover:before {opacity: 1;}
.button.form-submit, .button.form-submit:hover  {
  background: #FF3A46;
}
/*------------------- Misc -------------------*/
.theme-menu-one .header-right-widget .call-us {
  padding-right: 20px;
}
.solid-inner-banner h1.page-header {
  font-family: 'CircularStdmed';
  font-size: 60px;
  color: #313131;
  padding-bottom: 150px;
}
.path-search .main-container,
.path-user .main-container {
  padding: 100px 0;
}
.path-user .user-login-form {
  padding: 50px 0;
}
.path-user .user-login-form .form-submit {
  margin-top: 20px;
}
.path-user .user-login-form input {
  font-size: 100%;
  padding: 20px;
}
form.search-form {
  padding-bottom: 50px;
}
form.search-form input.form-search {
  height: 50px;
}
.path-search .main-container ol li {
  padding: 20px 0;
}
.path-search .main-container ol li h3 {
  font-size: 20px;
}

.pt-15 {padding-top: 15px;}
.pt-30 {padding-top: 30px;}
.pt-50 {padding-top: 50px;}
.pt-70 {padding-top: 70px;}
.pt-90 {padding-top: 90px;}
.pt-100 {padding-top: 100px;}
.pt-150 {padding-top: 150px;}
.pt-200 {padding-top: 200px;}
.pt-250 {padding-top: 250px;}
.pb-15 {padding-bottom: 15px;}
.pb-30 {padding-bottom: 30px;}
.pb-50 {padding-bottom: 50px;}
.pb-70 {padding-bottom: 70px;}
.pb-90 {padding-bottom: 90px;}
.pb-100 {padding-bottom: 100px;}
.pb-150 {padding-bottom: 150px;}
.pb-200 {padding-bottom: 200px;}
.pb-250 {padding-bottom: 250px;}
button#edit-preview { display: none; }

.path-news-default .solid-inner-banner,
.path-news-masonry .solid-inner-banner,
.path-news-full-grid .solid-inner-banner {
  margin-bottom: 150px;
}
.page-node-type-article .blog-image-holder {
  padding-top: 50px;
}
.pd-intro {
  padding-bottom: 50px;
}
.portfolio-content .field--name-field-images {
  padding-bottom: 80px;
}
.img-box a {
  width: 100%;
}
.isotop-item {
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  nav .collapse { display: block; }
  aside#sidebar-second { padding-left: 20px; }
}

/* Paragraph Slick slideshow */
.paragraph--type--paragraph-slideshow .slick--field-paragraph-slides {
  position: relative;
}
.paragraph--type--paragraph-slideshow .slick--field-paragraph-slides nav.slick__arrow {
  position: absolute;
  top: 40%;
  width: 100%;
}
.paragraph--type--paragraph-slideshow .slick--field-paragraph-slides nav.slick__arrow button.slick-prev {
  margin-left: 20px;
}
.paragraph--type--paragraph-slideshow .slick--field-paragraph-slides nav.slick__arrow button.slick-next {
  float: right;
}
.paragraph--type--paragraph-slide {
  position: relative;
}
.paragraph--type--paragraph-slide .field--name-field-paragraph-image img {
  width: 100%;
  height: auto;
}
.paragraph--type--paragraph-slide .field--name-field-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.theme-sidebar-widget #search-block-form .input-group .input-group-btn {
  position: absolute;
  top: 9px;
  right: 0;
}

/* FAQs */
.faq-tab-wrapper .faq-panel .panel.accordion-item {
  border: none;
}

/* Testimonials */
.agn-testimonial { overflow: hidden; }
.slide__caption { padding: 0; }

/* Blog */
.our-blog .img-holder img,
.our-team .img-box img { 
  height: auto; 
}
.our-blog .post-data img { width: 100%; height: auto; }

/* Gallery */
.agn-our-gallery .slick__arrow {
  top: 150px;
}
