{%
  set classes = [
    'paragraph',
    'single',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %} 
        <i class="fa-light fa-circle-check"></i>
        {{ content.bp_text }}
    {% endblock %}
  </div>
{% endblock paragraph %}