{%
  set classes = [
    'paragraph',
    'rts-contact-wrapper-form-area rts-section-gapBottom',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
    <div{{ attributes.addClass(classes) }}>
    {% block content %}  
        <div class="container">
            <div class="row g-24">
                <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                    <div class="form--area">
                    
                        {{ content.field_text }}
                        {{ content.field_webform }}
                      
                        <div id="form-messages"></div>
                        <form id="contact-form" action="mailer.php" method="post" class="contact-page-form mt--30">
                            <div class="name-email-wraper">
                                <input name="name" type="text" placeholder="Your Name" required="">
                                <input name="email" type="email" placeholder="Email Address" required="">
                            </div>
                            <input type="text" name="subject" placeholder="Select Subject">
                            <textarea name="message" placeholder="Type Your Message" required=""></textarea>
                            <button class="rts-btn btn-primary">Send Message</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                    <div class="map-area-wrapper">                        
                        {{ content.field_section_content|raw }}    
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    </div>
{% endblock paragraph %}
